<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capital City Quiz</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body id="app">
  
  <form class="container1" action="/learn-capital/submit" method="post">
    <div class="horizontal-container">
 
      <h3>
        Total Score:
        <span id="score">
          <%= locals.totalScore ? totalScore : "0" %>
        </span>
        /mistake:
        <span id="score">
          <%= locals.totalMistake ? totalMistake : "0" %>
        </span>
      </h3>

    </div>

    <h1 id="countryName">
      <%=question.country %>
    </h1>
    <div class="answer-container">
      <input type="text" name="answer" id="userInput" placeholder="Enter the capital" autofocus autocomplete="off">
    </div>
    <button type="submit">SUBMIT</button>

    <% if (locals.wasCorrect === false) { %>
          <div id="incorrectMessage" class="incorrect-message">Not correct</div>
        <% } %>

    <% if (locals.wasCorrect === true) { %>
          <div id="incorrectMessage" class="incorrect-message">Correct</div>
        <% } %>

  </form>
  <script>
    if (document.getElementById('incorrectMessage')) {
      setTimeout(function() {
      document.getElementById('incorrectMessage').style.display = 'none';
      }, 2000);
    }
  </script>
</body>

</html>