<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to the Global Capitals and Flags Quiz</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container1">

    <h1>Global Capitals and Flags: A Cultural Expedition</h1>
    <h2>Welcome to our exciting educational journey where we will explore the capitals of the world and their flags!</h2>
    
    <div class="menu" >

      <form action="/learn-capital" method="get">
        <button type="submit" class="learn-button">Learn Capital</button>
      </form>
      <form action="/learn-flags" method="get">
        <button type="submit" class="learn-button">Learn Flags</button>
      </form>
    </div>
  </div>
  <script src="/scripts/welcome.js"></script>
</body>
</html>
